<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="{{ url_for('post.all') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img class='header__img' src="{{ url_for('static', filename='img/7055.jpg') }}" alt="bu">
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
      <li><a href="{{ url_for('post.all') }}" class="nav-link px-2 text-secondary">Главная</a></li>
        {% if current_user.is_authenticated and current_user.status == 'teacher' %}
      <li><a href="{{ url_for('post.create') }}" class="nav-link px-2 text-white">Добавить тему</a></li>
        {% endif %}
    </ul>

    <div class="text-end">
        {% if current_user.is_authenticated %}
            <span>Добро пожаловать, {{ current_user.login }} </span>
            <a href="{{ url_for('user.logout') }}"><button type="button" class="btn btn-outline-light me-2">Выйти</button></a>
        {% else %}
            <a href="{{ url_for('user.login') }}"><button type="button" class="btn btn-outline-light me-2">Логин</button></a>
            <a href="{{ url_for('user.register') }}"><button type="button" class="btn btn-warning">Регистрация</button></a>
        {% endif %}
    </div>
</div>