<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block style %}{% endblock %}
</head>

<body>

<header class="header">
        {% include 'main/_header.html' %}
</header>

<div class="page">



    <main class="content">
        {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{cat}}">
        {{ msg }}
    </div>
    {% endfor %}

        <h1>{{ self.title() }}</h1>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        {% include 'main/_footer.html' %}
    </footer>
</div>

    <script src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>