{% extends 'main/base.html' %}

{% block title %} Темы {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/font-awesome.min.css') }}">
{% endblock %}


{% block content %}
<form method="post" class="form-control d-flex flex-row gap-2" id="teacherform">
    {{ form.csrf_token }}
    {{ form.teacher }}
    <input type="submit" class="btn btn-success" value="Показать">
</form>
<div class="table-responsive custom-table-responsive">
    <table class="table custom-table">
        <thead>
            <tr>
                <th scope="col">Преподаватель</th>
                <th scope="col">Тема</th>
                <th scope="col">Студент</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr scope="row">
                <td >
                    <img width="86px" height="86px" src="{{ url_for('static', filename='upload/'+post.author.avatar) }}" alt="">
                    {{ post.author.name }}
                </td>
                <td>{{ post.subject }}</td>
                <td>
                    {% with student = user.query.get(post.student) %}
                    <img width="86px" height="86px" src="{{ url_for('static', filename='upload/'+student.avatar) }}" alt="">
                    {{ student.name }}
                    {% endwith %}
                </td>
                <td>
                    {% if current_user.is_authenticated and post.author.id == current_user.id %}
                    <a href="{{ url_for('post.update', id=post.id) }}" class="btn btn-sm btn-secondary"><span class="fa fa-edit"></span></a>
                    <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}